.movies {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width:1600px;
    margin-left: auto;
    margin-top: 20px;
    margin-right: auto;

}
.pag{
    margin-bottom: 50px;
    text-align: center;
}

.pag_page{
    margin-left: 10px;
    color: #e6dee6;
}

.pag_page_click {
    background-color: white;
    border-radius: 6px;
    margin-left: 10px;
    color: black;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
}

.pag:hover{
    cursor: pointer;
}

.pag_page:hover{
    background-color: white;
    color: black;
    border-radius: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    opacity: 0.8;
}

.filter{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.menu{
    border-radius: 10px;
    margin-left: 30px;
    height: 40px;
    width: 150px;
    padding-left: 10px;

}

.txt{
    color: white;
    margin-right: -20px;
}

.item_filter{
    display: flex;
    align-items: center;


    margin-top: 25px;
    margin-left: 40px;


}
